@media screen and (max-width: 800px){
	.car{
		margin-top: 50px;

	}

	.res img{
		width: 60%;
	}

	.hab{
		font-size: 20pt;
	}

	.res{
		width: 140%;
	}

	.encabezado img{
		width: 110%;
		display: block;

	}

	.image{
		width: 100%;
	}
}